<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <script src="/js/category.js"></script>
    <title>Techo World</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/product'}">Techo World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/login'}" sec:authorize="isAnonymous()"
                           th:text="#{label.login}"></a>
                    </li>
                    <!--                    profile-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="${currentUser.fullName}" sec:authorize="isAuthenticated()">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{'/order/myOrder'}"
                                   th:text="#{label.myOrder}"></a></li>
                            <li><a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{'/wishlist'}"
                                   th:text="#{label.wishList}"></a> </li>
                            <li><a class="dropdown-item" th:href="@{'/profile'}" th:text="#{label.profile}"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" sec:authorize="isAuthenticated()" href="JavaScript:void(0)"
                                   onclick="document.getElementById('logoutFormId').submit()"
                                   th:text="#{label.logout}"></a></li>
                            <form th:action="@{'/logout'}" method="post" id="logoutFormId"
                                  sec:authorize="isAuthenticated()"></form>
                        </ul>
                    </li>
                    <!--                    moderator menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="#{label.adminMenu}"
                           sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/product/admin'}" th:text="#{label.products}"></a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{'/category'}" th:text="#{label.categories}"></a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{'/users'}" th:text="#{label.users}"></a></li>
                            <li><a class="dropdown-item" th:href="@{'/order'}" th:text="#{label.orders}"></a></li>
                            <li><a class="dropdown-item" th:href="@{'/country'}" th:text="#{label.countries}"></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="#{label.language}">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="?lng=ru">RUS</a></li>
                            <li><a class="dropdown-item" href="?lng=en">ENG</a></li>
                        </ul>
                    </li>
                    <!--                    korzina-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/korzina'}" th:text="#{label.korzina}">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" th:text="#{label.categories}">
                        </a>
                        <ul class="dropdown-menu">
                            <li th:each="cat:${categories}"><a th:href="@{'/product/sorted/'+${cat.id}}">
                                <button th:text="${cat.name}" th:value="${cat.id}" class="btn btn-primary"></button>
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div layout:fragment="site_content">
    </div>
</div>
</body>
</html>