<html html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/navbar">
<body>
<div layout:fragment="site_content">
    <h3>All Products</h3>
    <div class="container text-center">
        <div class="row">
            <div class="col" th:each="prod:${productList}">
                <div class="card " style="width: 18rem;">
                    <img width="250" height="250" th:src="@{'/getImage/'+${prod.productImage}}" class="card-img-top">
                    <div class="card-body">
                        <input type="hidden" th:value="${prod.id}">
                        <h5 class="card-title" th:text="${prod.title}"></h5>
                        <p class="card-text" th:text="${prod.price}+'Tenge'"></p>
                        <p class="card-text" th:text="${prod.country.countryName}"></p>
                        <a th:href="@{'/product/'+${prod.id}}" class="btn btn-primary">About</a>
                        <a th:href="@{'/korzina/'+${prod.id}}" class="btn btn-success"
                           sec:authorize="isAuthenticated()">Add to Korzina</a>
                        <a th:href="@{'/korzina/noUserKorzina/'+${prod.id}}" class="btn btn-success"
                                                   sec:authorize="isAnonymous()">Add to Korzina</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>